html, body {
	padding : 0px;
	margin : 0px;
}

#contents{
		width: 1520px;
		height: 400px;
		border: 1px solid lightgray;
		overflow: auto;
	}
	
	#search{
		dispaly: inline;		
		width: 1500px;
		height: 30px;		
		margin: 10px;
	}
	section{
		margin-top: 50px;
		margin-left: 50px;
	}
	#btnSea{
		margin-left: 10px;
	}
	table{
		width: 1500px;		
		margin: auto;
	}
	
.tr1{
	background: black;
	color: white;
}

table tr th{ 
		border: 1px solid lightgray;
		
		
	}  
	

    
a{ style : none;  text-decoration: none; 	}

li{ list-style : none; } 

#btnchange{
	position: relative;
	left: 1220px;
	margin-top: 10px;
	width:300px;	
}

#change,#deletePlus{
	width: 100px;
	height: 30px;
}

fieldset{
	width:1520px;
	border: 1px solid lightgray;
	margin-bottom: 50px;
	align:left;
}
fieldset:child {
	margin: 10px;
}

.subtitle{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left:50px;
}

#title{
	margin-top: 50px;
	margin-left: 50px;
}
